@if (pantallaActual === 'principal') {
  <app-principal
    (abrirRegistro)="irARegistro()"
    (abrirLogin)="irALogin()">
  </app-principal>
}

@if (pantallaActual === 'registro') {
  <app-registro
    (volverInicio)="irAInicio()"
    (registrar)="mostrarConfirmacion($event)">
  </app-registro>
}

@if (pantallaActual === 'login') {
  <app-login
    (volverInicio)="irAInicio()"
    (entrarPanelSocio)="irAPanelSocio()"
    (entrarPanelEntrenador)="irAPanelEntrenador()"
    (entrarPanelAdministrador)="irAPanelAdministrador()">
  </app-login>
}

@if (pantallaActual === 'confirmacion') {
  <app-confirmacion-registro
    [socio]="socioRegistrado"
    [membresia]="membresiaRegistrada"
    [estado]="estadoRegistrado"
    (cerrar)="cerrarConfirmacion()">
  </app-confirmacion-registro>
}

@if (pantallaActual === 'panelSocio') {
  <app-panel-socio
    (cerrarSesion)="irAInicio()">
  </app-panel-socio>
}