@if (pantallaActual === 'principal') {
  <app-principal
    (abrirRegistro)="irARegistro()"
    (abrirLogin)="irALogin()">
  </app-principal>
}

@if (pantallaActual === 'pago'){
  <app-pago 
    [datosRegistro]="datosPago"
    (volverInicio)="irAInicio()"
    (irLogin)="irALogin()"
    (pagoExitoso)="irALogin()"
    (pagoExitoso)="irALogin()">
  </app-pago>
}

@if (pantallaActual === 'registro') {
  <app-registro
    (irLogin)="irALogin()" 
    (volverInicio)="irAInicio()"
   (irPago)="irPago($event)">
  </app-registro>
}



@if (pantallaActual === 'login') {
<app-login
  (volverInicio)="irAInicio()"
  (irRegistro)="irARegistro()"
  (entrarPanelSocio)="irAPanelSocio()"
  (entrarPanelEntrenador)="irAPanelEntrenador()"
  (entrarPanelAdministrador)="irAPanelAdministrador()">
</app-login>
}

@if (pantallaActual === 'confirmacion') {
  <app-confirmacion-registro
    [socio]="socioRegistrado"
    [membresia]="membresiaRegistrada"
    [estado]="estadoRegistrado"
    (cerrar)="cerrarConfirmacion()">
  </app-confirmacion-registro>
}

@if (pantallaActual === 'panelSocio') {
  <app-panel-socio
    (cerrarSesion)="irAInicio()">
  </app-panel-socio>
}
@if (pantallaActual === 'panelAdministrador') {
  <app-panel-administrador
    (cerrarSesion)="irAInicio()">
  </app-panel-administrador>
}

@if (pantallaActual === 'panelEntrenador') {
  <app-panel-entrenador
    (cerrarSesion)="irAInicio()">
  </app-panel-entrenador>
}